---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>The Homepage of Luke Wilson</h1>
			<p>
				Welcome to my website! I'm a software developer and I love to write about technology, philosophy, and
				the intersection of the two. I hope you enjoy reading my posts.
			</p>
			<p>
				Why do I believe evolution is so important when considering psychology, nature, and the very world as
				we know it? Because evolution has shaped and molded these very things we take as fact. Evolution is our
				God that crafted our dizzying belief that nothing else could ever be.
			</p>
			<p>
				But one could never be more wrong.
			</p>
			<p>
				Nothing on the Earth today was created without intention. It's all a product of evolution. Everything
				serves some kind of purpose because of the evolutionary algorithm.
			</p>
		</main>
		<Footer />
	</body>
</html>
